.form-control{
  width: 400px;
}
.form{
  float:left;
  padding: 10px;
  width: 90%;
  margin: 10px;
  background-color: #3AB795;
}

#companyform{
  clear: right;
  margin-left: 30px;
}
.left { 
  float: left; 
  width: 50%; 
} 
 
.right{ 
  float: right; 
  width: 50%; 
} 
.cd{
  border: #86BAA1 4px solid;
  background-color: #FFCF56;

}



body{
  background-color: #EDEAD0;
}