.form-control{
  width: 400px;
}
.form{
  float:left;
  padding: 5px;
  width: 100%;
  background-color: #17C3B2;
  border: #227C9D 4px solid;
  
}

#companyform{
  clear: right;
}
.left { 
  float: left; 
  width:45%; 
  
} 
 
.right{ 
  float: right; 
  width: 45%; 
} 
.cd{
  border: #227C9D 4px solid;
  background-color: #17C3B2;
  padding: 10px;
}

.companycard{
  width: 48%;
  height: 325px;
  margin-left:5px;
  float: left;
}

.card-body{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
  text-align: center;
}